*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --color-1: #FFE6EE;
  --color-2: #3b4149;
  --color-3: #febd69;
  --color-4: #EBECF0;
}

body{
  font-family: "Rubik", sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.black-link {
  color: black;
  text-decoration: none;
}

.button{
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 13px, 33px;
  border-radius: 25px;
}

.button:hover{
  background-color: var(--color-2);
  color: #131921;
}

.h2{
  color: #FFC0CB;
  text-transform: uppercase;
}

.h1{
  color: #FFC0CB;
  text-transform: uppercase;
}


/* HEADER */
.header-top-strip{
  background-color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-upper{
  background-color: var(--color-4);
  padding-left: 20pt;
}

.header-upper .icon {
  width: 30px;
  height: 30px;
}

.header-upper .menu-links a {
  justify-content: right;
  color: vars(--color-2);
}


/* FOOTER */
footer{
  background-color: var(--color-4);
  padding: 50pt;
}

footer .input-group-text{
  background-color: var(--color-4);
  color: black;
  padding: 8px, 17px;
}

.footer-bottom{
  background-color: white;
  color: black;
  padding: 8px, 17px;
}


/* HOME PAGE */
.home-wrapper-1 {
  margin: 50pt;
}

.small-banner-content{
  top: 15%;
  left: 7%;
}

.home-wrapper-2 {
  margin: 50pt;
  font-size: 22px;
  padding-left: 50pt;
  padding-right: 50pt;
  text-align: center;
}

.home-wrapper-3 {
  background-color: var(--color-1);
  margin: 50pt;
  padding: 50pt;
}

.home-wrapper-4 {
  margin: 50pt;
}



/* CONTACT AND TERMS PAGE */
.contact-wrapper-1 {
  margin: 50pt;
  font-size: 22px;
  padding-left: 50pt;
  padding-right: 50pt;
}

.list{
  list-style-position: outside;
}

.ol .li{
 text-align: left;
 margin-left: 45%;
}

